<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="music-cards-container">
    <ion-grid>
      <ion-row class="music-cards">
        <!-- <ion-col size="6" (click)="playAudio()">
          <div class="inner-card">
            ion-col 1
          </div>
        </ion-col> -->
        <ion-col size="6" *ngFor="let clips of clipsData" (click)="playAudio(clips.name)">
          <div class="inner-card">
            {{clips.name}}
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>
